@import "tailwindcss";
@plugin "tailwind-part";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant unthemed (&:where(.unthemed, .unthemed *));
@custom-variant themed (&:where(.themed, .themed *));
