package blossom

import (
	"time"

	"fiatjaf.com/nostr"
	"fiatjaf.com/nostr/nip19"

	"github.com/fiatjaf/pyramid/layout"
)

templ blossomAllBlobsPage(loggedUser nostr.PubKey) {
	@layout.Layout(loggedUser, "blossom") {
		<div class="max-w-5xl mx-auto">
			<h1 class="text-4xl font-bold mb-4 font-[family-name:var(--primary-font)]">blobs</h1>
			<p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 mb-8">all blobs</p>
			<div
				x-data={ `{
					hasBlobs: false
			}` }
			>
				<p class="text-sm text-stone-600 dark:text-stone-400" x-show="!hasBlobs">no blobs</p>
				<table class="min-w-full divide-y divide-stone-200 dark:divide-stone-700" x-show="hasBlobs">
					<thead class="bg-stone-50 dark:bg-stone-800">
						<tr>
							<th class="px-4 py-3 text-left text-xs font-medium text-stone-500 dark:text-stone-400 uppercase tracking-wider">hash</th>
							<th class="px-4 py-3 text-left text-xs font-medium text-stone-500 dark:text-stone-400 uppercase tracking-wider">owner</th>
							<th class="px-4 py-3 text-left text-xs font-medium text-stone-500 dark:text-stone-400 uppercase tracking-wider">type</th>
							<th class="px-4 py-3 text-left text-xs font-medium text-stone-500 dark:text-stone-400 uppercase tracking-wider">size</th>
							<th class="px-4 py-3 text-left text-xs font-medium text-stone-500 dark:text-stone-400 uppercase tracking-wider">upload date</th>
						</tr>
					</thead>
					<tbody class="bg-white dark:bg-stone-900 divide-y divide-stone-200 dark:divide-stone-700">
						{{ hasBlobs := false }}
						for owner, blob := range BlobIndex.ListAllBlobs(ctx) {
							{{ hasBlobs = true }}
							<tr>
								<td class="px-4 py-3 text-sm font-mono text-stone-900 dark:text-stone-100 max-w-0"><a href={ templ.SafeURL(blob.URL) } target="_blank" class="block truncate hover:underline">{ blob.SHA256 }</a></td>
								<td class="px-4 py-3 text-sm"><a href={ "/blossom/u/" + nip19.EncodeNpub(owner) } class="text-sm font-medium light:text-stone-600 dark:text-stone-400 hover:underline underline-offset-4"><nostr-name pubkey={ owner.Hex() }>{ owner.Hex() }</nostr-name></a></td>
								<td class="px-4 py-3 text-sm text-stone-600 dark:text-stone-400">{ blob.Type }</td>
								<td class="px-4 py-3 text-sm text-stone-600 dark:text-stone-400">{ formatSize(blob.Size) }</td>
								<td class="px-4 py-3 text-sm text-stone-600 dark:text-stone-400">
									if blob.Uploaded > nostr.Now() - 61 {
										<span class="text-emerald-800">just now</span>
									} else {
										<span>{ blob.Uploaded.Time().Format(time.DateTime) }</span>
									}
								</td>
							</tr>
						}
						if hasBlobs {
							<span x-init="hasBlobs = true"></span>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
}
